/*COMMON STYLES*/

:root {
    --color-primary: #F1CDB3;
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary-light: #FDDCC4;
  

    --font-small-text: 15px;
    --font-big-text: 20px;


    --font-styleA: 'Arial', sans-serif;
    --font-styleG: 'Georgia', serif;


    --padding-block: 80px 40px 100px;

  }




*,
*::before,
*::after {
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  li
  {
    margin: 0;
  }



  html {
    scroll-behavior: smooth; 
    overflow-x:hidden;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }

  @media (max-width: 1279px) {
    .container  {
      max-width: 900px;
      
    }
  }
  @media (max-width:767px) {
    .container  {
      max-width: 300px;
      
    }
  }



body {
    max-width: 1280px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}



a {
  text-decoration: none;
  color: inherit;
}


li {
  list-style-type: none;
 }



  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }



/*header and Navigation*/

header {
  background-color: var(--color-light-xl);
  padding: 30px 40px;
  position: sticky;
  top:0;
}
@media (max-width: 768px) {
  header  {
   padding: 30px 30px 30px 30px;
  }
}
@media (max-width: 320px) {
  header  {
   padding: 30px 50px 30px 10px;
  }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
@media (max-width: 320px) {
  .header-container {
  align-items: center;
  }
}
@media (max-width: 767px) {
  .header-nav  {
  display: none;
  }
}




.nav-list {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    color: var(--color-dark-l);
  }


  .nav-item:nth-child(2) {
  padding-top: 3px ;
  color: var(--color-dark-3xl);
  }

 .nav-item:nth-child(2) ::after{
    display: block;
    left: 0;
    width: 100%;
    height: 3px; 
    background-color: var(--color-primary); 
    content: "";
  }

.nav-item {
  text-align: center;
}

.nav-link:hover {
  color: var(--color-dark-3xl);
}

.nav-link:active::after {
  display: block;
    left: 0;
    width: 100%;
    height: 3px; 
    background-color: var(--color-primary); 
    content: "";
}


.header-logo {
    display: flex;
    flex-direction: column;
    height: 60px;
    gap: 10px;
}

.header-logo p {
  text-align: center;
  color: var(--color-dark-3xl);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}


/*Burger*/


 /*Burger*/


 .hamburger__menu {
  display: none;
}

.header-logo_burger {
  display: none;
}

@media (max-width:767px)  {
 
  .hamburger__menu {
      display: block;
      position: absolute;
      right: 53px;
      width: 30px;
      height: 22px;
      z-index: 10;
      transition: 0.3s ease;
  }

.hamburger__menu:before,
.hamburger__menu:after {
   content: '';
   background-color: black;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   transition: all 0.3s ease 0s;
}
.hamburger__menu:before {
top: 20px;
}
.hamburger__menu:after {
bottom: 20px;
}

.hamburger__menu span {
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
}


.hamburger__menu_open {
  transform: rotate(90deg);
}



.header-nav {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light-s);
  z-index: 10;
  padding-top: 30px;
  transform: translateX(100%);
  transition: all 0.5s ease 0s;
}


.header-nav_open {
transform: translateX(0);
left: calc(100% - 320px);
transition: 0.7s;
overflow: auto;

}


.header-logo_burger_open {
  padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.header-logo_open {
  display: none;
}


.nav-list {
  padding-top: 158px;
  width: 320px;
  flex-direction: column;
  gap: 40px;
  font-size: 32px;
  line-height: 160%;
  transition: 0.3s ease;
  margin: 0;
}

.section_open {
  background-color: var(--color-dark-l);
  opacity: 0.5;
}

body._lock {
  overflow: hidden;
  }


}


  /*BODY*/


h1 {
    font-family: var(--font-styleG);
    font-size: 32px;
    color: var(--color-dark-l);
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.06em;
}

h2 {
    font-family: var(--font-styleG);
    font-weight: 400;
    font-size: 44px;
    line-height: 127%;
    color: var(--color-light-xl);
}
@media (max-width:320px) {
  h2  {
   font-size: 25px;
   letter-spacing: 0.06em;
 }
}


h3 {
    font-family: var(--font-styleG);
    font-weight: 400;
    font-size: 35px;
    line-height: 127%;
    color: var(--color-dark-l);
    letter-spacing: 0.06em;
}
@media (max-width:320px) {
  h3  {
   font-size: 25px;
   letter-spacing: 0.06em;
 }
}



h4 {
    font-family: var(--font-styleG);
    font-weight: 400;
    font-size: var(--font-big-text);
    line-height: 115%;
    color: var(--color-dark-l);
    letter-spacing: 0.06em;
}



h5 {
    font-family: var(--font-styleG);
    font-weight: 400;
    font-size: var(--font-small-text);
    line-height: 110%;
    color: var(--color-dark-l);
    margin: 0;
    letter-spacing: 0.06em;
}


p {
    font-family: var(--font-styleA);
    font-weight: 400;
    font-size: var(--font-small-text);
    line-height: 160%;
    color: var(--color-dark-s);
}


.paragraph_s {
    font-family: var(--font-styleA);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}


/*button*/


.shelter_button {
    font-family: var(--font-styleG);
    color: var(--color-dark-3xl);
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 100px;
    letter-spacing: 0.06em;
    width: fit-content;
  }
  
  .not_only_button {
    background-color: var(--color-primary);
    border: none;
  }
  
  .not_only_button:hover {
    background-color: var(--color-primary-light);
  }
  


/*slider_arrows*/

.slider_arrows {
display: flex;
gap: 20px;
}
@media (max-width: 320px) {
  .slider_arrows{
  gap:10px;
  }
}

.round_button {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .round_button:hover {
    background-color: var(--color-primary);
  }
  
.disabled_button {
  border: 2px solid var(--color-dark-s);
}

.disabled_button h4 {
  color: var(--color-dark-s);
}
  
.disabled_button:hover {
  border: 2px solid var(--color-primary);
}
.disabled_button h4:hover {
  color: var(--color-dark-3xl);
}

/*our pets*/

.list_friends {
  padding: 15px 0px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 40px;
}
@media (max-width: 1200px) {
  .list_friends {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 890px) {
  .list_friends {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
  }
  .slider_element:nth-child(7),
  .slider_element:nth-child(8)  {
    display: none;
}}
@media (max-width: 580px) {
  .list_friends {
    padding: 0px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }
  .slider_element:nth-child(4),
  .slider_element:nth-child(5),
  .slider_element:nth-child(6),
  .slider_element:nth-child(7),
  .slider_element:nth-child(8)  {
    display: none;
  }


}


.title_friends {
    width: 35.71%;
    text-align: center; 
  }
  @media (max-width: 767px) {
    .title_friends{
    width:auto;
    }
  }
  
  .our_friends {
  background-color: var(--color-light-l);
  }
  
  
  .content_wrap_friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-block);
    gap: 45px;
  }
  @media (max-width: 767px) {
    .content_wrap_friends {
    gap: 40px;
    padding: 60px 30px 70px 30px;
    }
  }
  @media (max-width: 320px) {
    .content_wrap_friends {
    gap: 42px;
    padding: 42px 0px;
    }
  }


  

  .slider_element {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-s);
    border-radius: 9px;
  }
  
  .slider_element:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  
  
  .slider_info {
    width: 100%;
    text-align: center;
    padding: 27px;
  }
  
  .slider_image {
    width: 100%;
  }
  
 
  
  .slider_button {
    border: 2px solid var(--color-primary);
    background-color: var(--color-light-s);
  }
  
  .slider_button:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
  }
  

  .content_slider {
    display: flex;
    gap: 90px
  }
  
  .slider_name {
  
    padding-bottom: 30px;
  }
  


/*footer*/

#footer {
  background-image:url(/darya-goncharova-JSFE2022Q1/assets/icons/noise_transparent@2x.png),  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  background-repeat:repeat;
 
}

.footer_content {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap:160px;
}

.text_content {
  display: flex;

}



@media (max-width: 1279px) {
.footer_content {
  padding: 0;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
.text_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding: 14px 30px 45px 30px;
  }
}


@media (max-width: 767px) {
  .text_content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  }
  



.text_footer {
  padding: 16px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.text_footer_one {
  gap:40px;
}
.text_footer_two {
  gap: 33px;
}
@media (max-width: 767px) {
  .text_footer_one  {
  padding-left: 34px;
  }
  .text_footer_two {
    padding-right: 34px;
  }
}
@media (max-width: 320px) {
  .text_footer_one  {
  padding-left: 0px;
  }
  .text_footer_two {
    padding-right: 0px;
  }
}


.text_footer h3 {
  color: var(--color-light-xl);
}
@media (max-width: 320px) {
  .text_footer h3  {
  text-align: center;
  }
  .text_footer:first-child {
    align-items: center;
  }
  .text_footer_two h3 {
    padding: 0px 15px;
  }

  }




.link_footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link_footer h4 {
  color: var(--color-primary);
}


.image_footer {
  height: 310px;
}

@media (max-width: 320px) {
  .image_footer {
    height: 269px;
    padding: 0 20px;
  }
  .image_footer img {
    width: 100%;
    height: 100%;
  }
  }
